---
title: Coming Soon
description: The new home of balistreetphotographer.com. Powered by The Celtic Room template by caught my eye.
image: /images/bali-ubud-pasar-les-1-2-2048w.webp
mob_image: /images/bali-ubud-pasar-les-1-2-720w.webp
modal: true
pre_footer: true
---

<style>
.hero {
	background-image: {% include overlay-filter.html %}, url({% include relative-src.html src=page.mob_image %});
}
@media (min-width: 768px) {
	.hero {
		background-image: {% include overlay-filter.html %}, url({% include relative-src.html src=page.image %});
	}	
}
</style>

<section class="hero">
	<div class="inner-hero text-container text-container--left">
		<div class="hero-text-container hero-text-container--left">
			<h1 class="editable">Bali Street Photographer</h1>
			<p class="subtext editable">The new home of balistreetphotographer.com powered by <a href="https://amazing-newton-98281b.netlify.app/">The Celtic Room template</a>.</p>
			<div class="cta button alt">
				<a href="#">Coming Soon!</a>
			</div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Sneak peek at the template<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div id="home-text-1" class="text">
				<h2 class="editable">What is street photography?</h2>
				<p class="editable">For me, street photography resembles more of a philosophy than a technique. I've tried to express the philosophy in the mission statement for Bali Street Photographer.</p>
				<div class="cta button alt2">
					<a href="/photography/theory/history/2017/12/06/what-is-street-photography/">Read more</a>
				</div>
			</div>
			<div class="image image--resp-portrait">
				<img id="home-image-1" class="editable" src="/images/bali-ubud-pasar-jalan2-galungan-ibu-pura-650w.webp" alt="A Balinese woman at the entrance to a temple." />
			</div>
		</div>
	</section>

	<section id="home-section-2" class="info">
		<div class="container flex">
			<div id="home-text-2" class="text">
				<h2 class="editable">Jalan Jalan Gallery</h2>
				<p class="editable">Jalan jalan is Bahasa Indonesia for walkabout.</p>
				<div class="cta button alt2">
					<a href="/galleries/jalan-jalan">Visit the gallery</a>
				</div>
			</div>
			<div class="image image--resp-portrait">
				<img id="home-image-2" class="editable" src="/images/jalan-jalan/bali-ubud-pasar-christine-ed-bw-650w.webp" alt="Guest photographer Christine from California at Pasar Ubud." />
			</div>
		</div>
	</section>

	<section id="home-section-3" class="info">
		<div class="container flex">
			<div id="home-text-3" class="text">
				<h2 class="editable">The Beloved Bali Street Dog</h2>
				<div class="cta button alt2">
					<a href="/galleries/i-love-bali-dogs">Visit the gallery</a>
				</div>
			</div>
			<div class="image image--resp-portrai">
				<img id="home-image-3" class="editable" src="https://balistreetphotographer.files.wordpress.com/2018/11/balistreetphotographer-simon-pasar-ubud-anjing-bali.jpg" alt="Bali Street Dog by Simon" title="Bali Street Dog by Simon" />
			</div>
		</div>
	</section>

	<section id="pre-footer" class="hero">
		<div class="inner-hero text-container">
			<div class="hero-text-container hero__text--bg">
				<h2 class="editable">Guest Photo Galleries</h2>
				<p class="subtext editable">Coming Soon!</p>
				<div class="cta button alt"><a href="#">Have a look</a></div>
			</div>
		</div>
	</section>

</div>
