/* Custom Stuff */

.swiper-container,
.swiper-container img {
  width: 325px;
}

/** Modal Styles */

:root {
  --main-bg-color: black;
  --bright-text: #979EA1;
}

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */
  width: 95%;
  max-width: 95%;

  height: 430px;

  position: fixed;

  z-index: 9999;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* 
	 * If known, negative margins are probably better 
	 * (less chance of blurry text).
	 *
	 * margin: -200px 0 0 -200px; 
	 */

  background: var(--main-bg-color);
  color: var(--bright-text);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);

  .close-button {
    border: 2px solid var(--bright-text);
    background: var(--main-bg-color);
    color: var(--bright-text);
    padding: 5px 10px;
    font-size: 1.3rem;

    &:hover {
        cursor: pointer;
    }
  }
  
}

.closed {
  display: none;
}

.modal-overlay {
  width: 100vw;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 2%;

  h1,
  p {
    color: var(--bright-text);
  }
}

/** Media Queries */

@media (min-width: 600px) {
  .modal {
    width: 85%;
    height: 335px;
  }
}

@media (min-width: 768px) {
    .modal {
      width: 75%;
      height: 335px;
    }
}

@media (min-width: 1024px) {
    .modal {
      width: 50%;
      height: 300px;
    }
}

@media (min-width: 768px) {
  .swiper-container {
    width: 600px;
    height: 720px;
  }
  .swiper-container img {
    width: 600px;
  }
}
