$accent-color: #00a4ca;
$brand-color: #111;
$bright-text: #979EA1;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$x-large: "(min-width: 1024px)";
